extends layout.html

block content
  #banner.page-header
   .row
    .col-md-6.col-sm-12
     h1= title
   .row
    .col-md-6.col-sm-12
    p
     | <br /><br />
     | A retail or a shop is a business that presents a selection of goods and offers to trade or sell them to customers for money or other goods. Shopping is an activity in which a customer browses the available goods or services presented by one or more retailers with the intent to purchase a suitable selection of them. In some contexts it may be considered a leisure activity as well as an economic one
     | <br /><br />
     | In modern days customer focus is more transferred towards online shopping; worldwide people order products from different regions and online retailers deliver their products to their homes, offices or wherever they want. The B2C (business to consumer) process has made it easy for consumers to select any product online from a retailer's website and have it delivered to the consumer within no time. The consumer does not need to consume his energy by going out to the stores and saves his time and cost of travelling.
     | <br /><br />
     | The shopping experience can also be influenced by other shoppers. For example, research from a field experiment found that male and female shoppers who were accidentally touched from behind by other shoppers left a store earlier than people who had not been touched and evaluated brands more negatively, resulting in the Accidental Interpersonal Touch effect.
     | <br/><br/>
     | Looking for all great products at one place? Tatcha helps you to find your favourite products all at one place. Enjoy shopping with us!