doctype html
html(ng-app='tatchaApp')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    style.
      #eachProduct {
        display: inline-block;
      }
  body
     .navbar.navbar-default.navbar-fixed-top
       .container
         .navbar-header
           a.navbar-brand(href='/') Shopun
           button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
             span.icon-bar
             span.icon-bar
             span.icon-bar
         #navbar-main.navbar-collapse.collapse
           ul.nav.navbar-nav
             li
               a(href='/about/') About

     .container
       block content

       footer
         .row
           .col-xs-12
             small &copy; Bhavya Reddivari 2016

       script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
       script(src='/angular/mainApp.js')
       script(src='/javascripts/jquery-1.11.1.min.js')
       script(src='/bootstrap/js/bootstrap.min.js')