extends layout

block content
    #banner.page-header
        .row(ng-controller="itemCtrl")
            .col-lg-6
                h1= pageHeader.title
                small &nbsp;#{pageHeader.strapline}
                div
                 form
                    br
                    label Select Category to display products: &nbsp;&nbsp;
                     select(ng-model="category")
                        option(selected) Beauty
                        option Electronics
                        option Appliances
                        option Baby
                    br
                    label(for='text') Keyword &nbsp;&nbsp;
                     input(id='text',type='text',value='',placeholder='keyword',name='inputProduct' ng-model="productModel")
                     br
                     br
                     input(type='submit',value='Find Now',ng-click="itemSearch()" data-transition='fade', data-theme='c')
                .row
                    .col-xs-12.col-sm-8
                        label(for="filter") Search products &nbsp;&nbsp;
                        input#filter(type="text",name="filter", ng-model="textFilter")
                        .row.list-group
                            div(id="eachProduct")
                             .col-xs-12.list-group-item(ng-repeat = "product in products | filter : textFilter")
                                p {{product.ItemAttributes[0].Title[0]}}
                                img(ng-src="{{product.MediumImage[0].URL[0]}}")
                                br
                                p {{product.ItemAttributes[0].ListPrice[0].FormattedPrice[0]}}
                                a(ng-href='{{product.DetailPageURL[0]}}')
                                 input(type="button",value="Shop Now")





